<img class="responsive-img z-depth-3 delete-if-no-image" src="{{APP_IMAGE_PATH}}<%= ad.image %>" alt="<%= ad.image %>">

<div class="row">
	<div class="col s12">
		<p class="ad-title"><%= ad.title %></p>
		<p><%- ad.description %></p>
	</div>

	<% if(ad.link && ad.caption) { %>
	<div class="col s12">
		<% if(isEmail) { %>
			<a class="btn waves-effect waves-light" href="#!" onclick="getViaWeb(ad.link)"><%= ad.caption %></a>
		<% } else { %>
			<a class="btn waves-effect waves-light" target="_blank" href="<%= ad.link %>"><%= ad.caption %></a>
		<% } %>
	</div>
	<% } %>
</div>

<div class="bottom-space"></div>

<div class="fixed-action-btn hide-on-share">
	<a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="goBack()">
		<i class="material-icons">arrow_back</i>
	</a>
</div>
